.container-subheader {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    height: 30px;
    width: 75vw;
    border: 3px solid #111;
  }

  .spacer {
      flex-grow: 1;
      width: 20vw;
  }

  .stats {
    display: flex;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
  }