.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
  grid-template-rows: 20vh 20vh 20vh 20vh;
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
}

.container-item {
  height: 100%;
  width: 100%;
  border: 2px solid #111;
}

.container-header {
  margin: 5px 0;
  height: 45px;
  width: 80vw;
  border: 4px solid #111;
}

.container-subheader {
  margin: 15px 0;
  height: 30px;
  width: 80vw;
  border: 3px solid #111;
}